$white: #fff;
$black: #000;
$divider: #30343c;
$dark-gray: #202328;
$gray: #9d9d9f;
$light-gray: #d7d7d8;
$red: #b70519;
$pink: #df3e7b;
$orange: #ffa500;
$yellow: #daff00;
$blue: #23a8c3;
$green: #00b628;
